/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define default_layer 0
#define lower_layer 1
#define raise_layer 2
#define adjust_layer 3
#define extra_layer 4

/ {
    macros {
        e_accent_aigu: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RIGHT_GUI &kp SQT &kp E>;
            label = "NEW_MACRO";
        };

        e_accent_grave: e_accent_grave {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RIGHT_GUI &kp GRAVE &kp E>;
            label = "E_ACCENT_GRAVE";
        };

        e_accent_circonflexe: e_accent_circonflexe {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RIGHT_GUI &kp CARET &kp E>;
            label = "E_ACCENT_CIRCONFLEXE";
        };

        u_accent_grave: u_accent_grave {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RIGHT_GUI &kp GRAVE &kp U>;
            label = "U_ACCENT_GRAVE";
        };

        c_cedille: c_cedille {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RIGHT_GUI &kp COMMA &kp C>;
            label = "C_CEDILLE";
        };

        a_accent_grave: a_accent_grave {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RIGHT_GUI &kp GRAVE &kp A>;
            label = "A_ACCENT_GRAVE";
        };

        ctrl_tab: ctrl_tab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LCTRL &kp TAB>;
            label = "CTRL_TAB";
        };

        ctrl_shift_tab: ctrl_shift_tab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RCTRL &kp RIGHT_SHIFT &kp TAB>;
            label = "CTRL_SHIFT_TAB";
        };
    };

    behaviors {
        left_hold_tap: left_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "LEFT_HOLD_TAP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <700>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            hold-trigger-key-positions = <7 6 6 7 8 9 10 18 19 20 21 22 30 31 32 33 34 43 44 45 46 47 48 54 55 56 57 35 23 11 49>;
            hold-trigger-on-release;
        };

        right_hold_tap: right_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "RIGHT_HOLD_TAP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <700>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53>;
            hold-trigger-on-release;
        };

        tap_dance_nav_layer: tap_dance_nav_layer {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_NAV_LAYER";
            #binding-cells = <0>;
            bindings = <&mo 3>, <&tog 3>;
        };

        jescape: jescape {
            compatible = "zmk,behavior-tap-dance";
            label = "JESCAPE";
            #binding-cells = <0>;
            bindings = <&kp J>, <&kp ESCAPE>;
        };

        backspace_del: backspace_del {
            compatible = "zmk,behavior-mod-morph";
            label = "BACKSPACE_DEL";
            bindings = <&kp BACKSPACE>, <&kp DELETE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        copy {
            bindings = <&kp K_COPY>;
            key-positions = <39 40>;
            require-prior-idle-ms = <400>;
        };

        paste {
            bindings = <&kp K_PASTE>;
            key-positions = <40 41>;
            require-prior-idle-ms = <400>;
        };

        cut {
            bindings = <&kp K_CUT>;
            key-positions = <41 39>;
            require-prior-idle-ms = <400>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";

            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            bindings = <
&kp ESCAPE    &kp LA(LC(LG(NUMBER_1)))  &kp LA(LC(LG(NUMBER_2)))  &kp LA(LC(LG(NUMBER_3)))  &kp LG(LA(LC(NUMBER_4)))  &kp LA(LC(LG(NUMBER_5)))                                        &trans          &trans                &trans     &trans   &trans            &kp C_AL_SCREEN_SAVER
&kp TAB       &kp Q                     &kp W                     &kp E                     &kp R                     &kp T                                                           &kp Y           &kp U                 &kp I      &kp O    &kp SEMICOLON     &trans
&kp LEFT_GUI  &kp A                     &kp S                     &kp D                     &kp F                     &kp G                                                           &kp H           &kp J                 &kp K      &kp L    &kp P             &kp APOS
&kp LCTRL     &kp Z                     &kp X                     &kp C                     &kp V                     &kp B                     &kp K_SCROLL_DOWN    &kp K_SCROLL_UP  &kp N           &kp M                 &kp COMMA  &kp DOT  &kp SINGLE_QUOTE  &trans
                                                                  &kp LEFT_ALT              &mo 1                     &kp LEFT_SHIFT            &kp SPACE            &lt 2 ENTER      &backspace_del  &tap_dance_nav_layer  &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        sym {
            display-name = "Lower";

            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&trans  &trans           &trans                 &trans           &trans           &trans                    &trans        &trans            &trans             &trans    &trans       &trans
&trans  &a_accent_grave  &e_accent_circonflexe  &e_accent_grave  &e_accent_aigu   &trans                    &kp KP_EQUAL  &kp LESS_THAN     &kp GREATER_THAN   &kp PIPE  &kp PERCENT  &trans
&trans  &kp KP_MINUS     &kp UNDER              &kp QUESTION     &kp EXCL         &trans                    &kp DOLLAR    &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp LPAR  &kp RPAR     &trans
&trans  &trans           &trans                 &c_cedille       &u_accent_grave  &trans  &trans    &trans  &kp AT        &kp LEFT_BRACE    &kp RIGHT_BRACE    &kp AMPS  &kp CARET    &trans
                                                &trans           &trans           &trans  &trans    &trans  &trans        &trans            &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        num {
            display-name = "Raise";

            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&trans     &trans     &trans    &trans     &trans     &trans                       &trans  &trans        &trans        &trans        &trans  &trans
&kp GRAVE  &kp N1     &kp N2    &kp N3     &kp N4     &kp N5                       &trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans  &trans
&kp F1     &kp MINUS  &kp PLUS  &kp SLASH  &kp ASTRK  &kp EQUAL                    &trans  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp N0  &trans
&kp F7     &kp F8     &kp F9    &kp F10    &kp F11    &kp F12    &trans    &trans  &trans  &kp N7        &kp N8        &kp N9        &trans  &trans
                                &trans     &trans     &trans     &trans    &trans  &trans  &trans        &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        nav {
            display-name = "Adjust";

            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans             &trans    &trans         &trans         &trans                &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &kp C_VOLUME_UP    &trans    &kp PAGE_UP    &kp C_AC_HOME  &kp C_BRIGHTNESS_INC  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &kp LEFT_ARROW     &kp DOWN  &kp UP_ARROW   &kp RIGHT      &kp K_MUTE            &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp C_VOLUME_DOWN  &trans    &kp PAGE_DOWN  &kp END        &kp C_BRIGHTNESS_DEC  &trans
                        &trans  &trans  &trans  &trans    &trans  &trans             &trans    &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        extra_layer {
            display-name = "Extra";

            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&trans  &trans          &trans          &trans           &trans  &trans                                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans          &mmv MOVE_UP    &trans           &trans  &trans                                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &trans  &msc SCRL_DOWN                          &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans          &trans          &trans           &trans  &msc SCRL_UP    &mkp LCLK    &mkp RCLK  &trans  &trans  &trans  &trans  &trans  &trans
                                        &trans           &trans  &trans          &trans       &trans     &trans  &trans  &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
